*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif,poppins;
    box-sizing: border-box;
}
body{
    background-color: #262a2f;
}
.container{
    background : #fff;
    position: absolute;
    width: 400px;
    border-radius: 10px;
    padding: 25px 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.container p{
    font-weight: 600;
   font-size: 15px;
   margin-top: 8px; 
}
.container input{
    width: 100%;
    height: 50px;
    border: 1px solid #494eea;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 5px;
}
.container button{
    border:0;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    width: 100%;
    height: 50px;
    background-color: #494eea;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    }